@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.wrapper {
    --fontFamily: 'Open Sans', sans-serif;
    --textColor: #fff;
    --backgroundColor: #4a90e2;
    --buttonColor: #f5a623;

    box-sizing: border-box;
    min-width: 200px;
    max-width: 1024px;
    padding: 0 20px 15px;
    font-family: var(--fontFamily);
    color: var(--textColor);
    background-color: var(--backgroundColor);
}
.size_m.wrapper, .size_s.wrapper  {
    padding-top: 7px;
}
.size_m.wrapper {
    max-width: 768px;
}
.size_s.wrapper {
    max-width: 440px;
}

.title {
    all: initial;
    display: block;
    margin: 0 0 10px;
    font-family: var(--fontFamily);
    line-height: normal;
    color: var(--textColor);
    font-size: 24px;
    font-weight: 600;
}
.size_m .title, .size_s .title {
    font-size: 18px;
}
.size_s .title {
    margin-bottom: 15px;
}

.subtitle {
    all: initial;
    width: 100%;
    margin: 0 0 15px;
    font-family: var(--fontFamily);
    font-size: 10px;
    font-weight: 600;
    line-height: normal;
    color: var(--textColor);
}
.size_xl .subtitle {
    width: 28%;
    margin: 0 30px 0 0;
}
.size_s .subtitle {
    order: 1;
    margin: 15px 0 0;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
}
.size_xl .form-wrapper {
    flex-direction: row;
}

.form {
    display: flex;
    flex-grow: 1;
}
.size_m .form {
    flex-wrap: wrap;
    justify-content: space-between;
}
.size_s .form {
    flex-direction: column;
}

.input {
    all: initial;
    font-family: var(--fontFamily);
    font-size: 14px;
    padding: 0 11px 0;
    border: 0;
    width: 26%;
    height: 40px;
    border-radius: 2px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0yIDcuOTk4cy4wMDIgNy4yNSAwIDcuMDAybDExLjAwMy0uMDAxYy0uMDAyIDAtLjAwNi03LS4wMDYtN0wyIDcuOTk4ek04IDExaDR2M0g4di0zem03LTV2OWEyIDIgMCAwMS0yIDJIMmEyIDIgMCAwMS0yLTJWNmgxNXptLTMtNFYxYTEgMSAwIDAwLTEtMWgtMWExIDEgMCAwMC0xIDF2MUg2VjFhMSAxIDAgMDAtMS0xSDRhMSAxIDAgMDAtMSAxdjFIMmEyIDIgMCAwMC0yIDJoMTVhMiAyIDAgMDAtMi0yaC0xeiIgZmlsbD0iIzQ5OTBFMiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+Cg==);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 15px 17px;
    background-color: #fff;
}
.input:not(:last-of-type) {
    margin-right: 20px;
}
.size_l .input {
    width: 28%;
}
.size_m .input {
    width: 42%;
    margin: 0;
}
.size_s .input {
    width: auto;
    margin: 0 0 15px;
}

.button {
    all: initial;
    height: 40px;
    margin-left: 20px;
    padding: 0 10px;
    flex-grow: 1;
    font-family: var(--fontFamily);
    line-height: 2;
    color: var(--textColor);
    font-size: 20px;
    letter-spacing: 1.11px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    background-color: var(--buttonColor);
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.size_l .button {
    width: 31%;
    margin-left: 28px;
}
.size_m .button {
    width: 100%;
    margin: 20px 0 0;
}
.size_s .button {
    width: auto;
    margin: 0;
}